
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap:60px;
    margin-top:80px;
}
.product-container{
    padding:10px;
    width:max-content;
}
.product-container img{
    width:200px;
    height: 200px;
}
.product-container:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.input-box{
    position: absolute;
    top:20px;
    left:30%;
    display: flex;
}
.input-box input{
    width:250px;
    height: 30px;
    text-indent: 5px;
    border-radius: 5px;
    font-size:16px;
    border:2px solid orange;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: orange;
  }
  ::placeholder{
    color:rgb(232, 179, 82);
  }
.hide{
    display: none;
}
input[type=text]:focus {
    outline-color: orange;
  }

.input-box >button{
      color: white;
      background-color: orange;
      border: 1px solid orange;
      border-radius: 5px;
      height: 35px;
      position: relative;
      left:-56px
}