@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');
body{
    display: grid;
    place-items: center;
    height:100vh;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
.red,.error{
    color:red;
}
.none{
    display: none;
}
.outer-div{
    width:45%;
    height:400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:40px;
    border-radius:10px 10px 50% 10px;
}
.container{
    display: flex;
    gap:20px;
}
.inner-div{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.inner-div label{
    font-size: 0.8rem;
    font-weight: 500;
}
input[type="text"]{
    width:6rem;
    height:3rem;
    border-radius: 10%;
    text-indent: 10px;
    font-size: 1.5rem;
}
.result{
    display: flex;
    flex-direction:column ;
    margin-top: 20px;
    width:100%;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
}
.result-years,.result-months,.result-days{
    color:blueviolet;
}
.button{
    align-self:flex-end;
    margin-right: 30%;
}
button{
    border: none;
    outline: none;
    width:50px;
    height: 50px;
    background-color: blueviolet;
    color:white;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
}
button:active{
    background-color: #000;
    color:white;
}
